<div class="container">
    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let a of acc">
            <div class="card p-3">
                <img src={{a.imageUrl}} alt="" class="card-img-top" style="width: 200px;">
                <div class="card-body">
                    <h3 class="card-title">{{a.name}}</h3>
                    <div *ngIf="a.discount>0">
                        <span class="text-secondary fs-5"> price: </span>
                        <span class="card-text me-3 text-decoration-line-through">{{a.price}}$</span>
                        <span class="card-text fw-bold text-danger fs-4">{{a.price-(a.discount/100)}}$</span>
                    </div>
                    <div *ngIf="a.discount == 0">
                        <span class="card-text me-3 fs-4 fw-bold"><span class="text-secondary fs-5"> price:
                            </span>{{a.price}}$</span>
                    </div>
                    <p class="card-text">{{a.description}}</p>
                    <button class="btn bg-dark text-light rounded w-75 py-2 ms-4 fs-5" (click)="addToCart(a._id)">Add
                        to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>



<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-zig-zag" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>