<!-- <div class="w-100 bg-dark row rounded p-2 p-sm-5 my-5">
    <div class="col-12 col-lg-5">
        <a routerLink="/speaker" class="link-success link-underline link-underline-opacity-0 fs-4">Blutooth-speaker</a>
        <p class="text-light fs-1 mt-5 mb-0">Enhance Your </p>
        <p class="text-light fs-1 mt-0">Music Experience</p>
        <div class="d-flex my-4">
            <div class="mx-2 ms-0">
                <p class="rounded-circle bg-light text-center p-2  mx-2 ms-0 fs-5 fs-md-4 w-100 ">05</p>
                <p class="my-0 text-light text-center">days</p>
            </div>
            <div class="mx-2">
                <p class="rounded-circle bg-light text-center p-2  mx-2 ms-0 fs-5 fs-md-4 w-100">23</p>
                <p class="my-0 text-light text-center">hours</p>
            </div>
            <div class="mx-2">
                <p class="rounded-circle bg-light text-center p-2  mx-2 ms-0 fs-5 fs-md-4 w-100">59</p>
                <p class="my-0 text-light text-center">minutes</p>
            </div>
            <div class="mx-2 me-0">
                <p class="rounded-circle bg-light text-center p-2  mx-2 ms-0 fs-5 fs-md-4 w-100">40</p>
                <p class="my-0 text-light text-center">seconds</p>
            </div>
        </div>
        <button class="btn btn-success fs-5">Buy Now!</button>
    </div>
    <div class="position-relative mt-4 col-12 col-lg-7 text-center">
        <div class="w-100 h-100 position-absolute top-50 start-50 translate-middle" style="background: rgba(255, 255, 255, 0.12);
    border-radius: 50%;
    filter:blur(60px);"></div>
        <img src="./imgs/Union.png" alt="" class="z-1 d-none d-md-block">
        <img src="./imgs/Union.png" alt="" class="z-1 w-75 d-md-none">
    </div>
</div> -->
<app-large-banner [bannerTitle]="'Enhance Your Music Experience'" [bannerImg]="'./imgs/Union.png'"
    [bannerButton]="'Buy Now!'" [bannerCategory]="'Blutooth-speaker'" [routerLink]="'/speaker'" [showCounter]="true"
    [bg_color]="'bg-dark'" [text_color]="'text-light'" />

<p class="text-center fs-1 my-5">Popular Categories</p>
<app-banner-slider [slides]="slider1" [category]="true" />


<p class="fs-1 my-5">Daily Best Sales</p>
<app-banner-slider [slides]="dailySaleProducts" [dailySailes]="true" />
<app-large-banner [bannerTitle]="'Macbook Pro'" [bannerImg]="'./imgs/mcbook.png'"
    [bannerDesc]="'Apple M1 Max Chip. 32GB Unified Memory, 1TB SSD Storage'" [bannerButton]="'Order Now!'"
    [bannerCategory]="'laptop'" [routerLink]="'/laptop'" [bg_color]="'bg-secondary-subtle'"
    [text_color]="'text-dark'" />


<div class="d-flex flex-column flex-lg-row justify-content-between mb-5 d-" style="gap: 2%;">
    <div class="small-banner rounded bg-black w-50 position-relative overflow-hidden flex-fill">
        <img src="./imgs/ps5.png" alt="ps5">
        <div class="position-absolute bottom-0 p-3 text-light w-100 rounded-top-circle"
            style="background-color: rgba(0, 0, 0, 0.683);">
            <div class="w-75 m-auto text-center">
                <h3>PlayStation 5</h3>
                <p>Black and White version of the PS5 coming out on sale.</p>
                <a class="link-opacity-75-hover link-underline-light link-light">Shop Now!</a>
            </div>
        </div>
    </div>
    <div class="small-banner rounded bg-black w-50 position-relative overflow-hidden">
        <img src="./imgs/xbox360.png" alt="xbox360">
        <div class="position-absolute bottom-0 p-3 text-light w-100 rounded-top-circle"
            style="background-color: rgba(0, 0, 0, 0.683);">
            <div class="w-75 m-auto text-center">
                <h3>Xbox 360</h3>
                <p>Black and White version of the xbox coming out on sale.</p>
                <a class="link-opacity-75-hover link-underline-light link-light">Shop Now!</a>
            </div>
        </div>
    </div>
</div>


<!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)">
    <div ngxSlickItem class="slide mx-3 card p-0 " *ngFor="let slide of dailySaleProducts" style="cursor: pointer">
        <div class="row p-4 pe-0" style="height: 450px;cursor: pointer">
            <div class="col-5 d-flex align-items-center">
                <img src="{{ slide.image }}" class="m-auto" alt={{slide.name}} width="100%">
            </div>
            <div class="col-6 d-flex align-items-center">
                <div>
                    <h5>{{slide.name}}</h5>
                    <p class="mt-3"><span *ngFor="let star of getStars(slide.rating)">⭐</span> {{slide.rating}}</p>
                    <p class="text-danger text-decoration-line-through">{{slide.price}}</p>
                    <p><small class="text-body-secondary">{{slide.description}}</small></p>
                    <button class="btn bg-dark text-light w-100 my-3" routerLink="/home/{{slide.product_id}}">Show
                        Product</button>
                    <div class="d-flex w-100 mb-3">
                        <button class="btn align-self-start bg-dark text-light w-25 rounded"
                            (click)="removeItem()">-</button>
                        <p class="border border-1 rounded ps-2 pe-2 flex-fill text-center mx-2 mb-0 item-number fs-4">
                            {{numOfItems}}
                        </p>
                        <button class=" btn align-self-start bg-dark text-light w-25 rounded"
                            (click)="addItem()">+</button>
                    </div>
                    <button class="btn bg-dark text-light w-25 rounded w-100 py-2">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</ngx-slick-carousel> -->





<!-- <app-product-card /> -->